body {
  background-color: black;
  font-size: 10px;
  font-family: "Verdana", sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 5em;
  color: white;
}

h2 {
  font-size: 4.2em;
  font-weight: 300;
  color: white;
}

a {
  color: Aquamarine;
  font-size: 1.6em;
}

a:hover {
  color:White;
}

.center {
  text-align: center;
}

.keyfeature {
  font-size: 2.1em;
  color: Gray;
}

.footer {
  text-align: right;
  color: Gray;
  font-size: 1.5em;
}
